<<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="header-text">
                Encuesta de satisfacción:
            </p>
            <p class="text-center text-secondary">
                <strong>¡Nos gustaría conocer su opinion!</strong>
            </p>
            <p class="text-secondary">
                Las siguientes preguntas evalúan sus puntos de vista de la tienda que ha visitado así como la atención de nuestros empleados. Sus respuestas serán tratadas de forma confidencial y serán utilizadas únicamente para mejorar el servicio que le proporcionamos.
                <br><br>
                <small>(Esta encuesta dura aproximadamente cinco minutos.) </small>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-3 py-4">
           
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <button (click)="irSucursales()" type="button" class="btn btn-raised btn-success w-100 m-auto d-block animated infinite pulse">
              Comenzar Encuesta
            </button>
        </div>
    </div>
</div>