<div class="container arriba">
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="header-text">
                Norma Oficial Mexicana NOM-035-STPS-2018, Factores de riesgo psicosocial en el trabajo-Identificación, análisis y prevención.
            </p>
            <p class="text-center text-secondary">
                <strong>¡Nos gustaría conocer su opinion!</strong>
            </p>
            <p class="text-secondary">
                La NOM 035 tiene como objetivo establecer los elementos para identificar, analizar y prevenir los factores de riesgo psicosocial, así como para promover un entorno organizacional favorable en los centros de trabajo. 
                <br><br>
                <small>(Esta encuesta dura aproximadamente quince minutos.) </small>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-3 py-4">
            <img src="https://www.conciliacionyarbitraje.org/contenido/158b01b9b_blog_.png" class="w-150 img-fluid m-auto d-block animated bounceIn">
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <button (click)="irPreguntas()" type="button" class="btn btn-raised btn-success w-100 m-auto d-block animated infinite pulse">
              Comenzar Encuesta
            </button>
        </div>
    </div>
</div>