<table class="table table-bordered">

  
      <tr>
        <th scope="row">#</th>

        <td class="alineartabla">
           <h3 align="center"> Pregunta</h3>
        </td>

        <td align="center">Siempre</td>
        <td align="center">Casi <br>siempre</td>
        <td align="center">Algunas<br> veces</td>
        <td align="center">Casi <br>nunca</td>
        <td align="center">Nunca</td>

      </tr>
      <! -- Pregunta 1 -->
      <tr>
        <th scope="row">1</th>
        <td>Mi trabajo me exige hacer mucho esfuerzo físico</td>
        <td>
            <input  type="radio" id="P1R1" value="1" name="pregunta1">
        </td>
        <td>
            <input type="radio" id="P1R2" value="2" name="pregunta1">
        </td>
        <td>
            <input type="radio" id="P1R3" value="3" name="pregunta1">
        </td>
        <td>
            <input type="radio" id="P1R4" value="4" name="pregunta1">
        </td>
        <td>
            <input type="radio" id="P1R5" value="5" name="pregunta1">
        </td>
        
      </tr>

      <! -- Pregunta 2 -->
      <tr>
        <th scope="row">2</th>
        <td>Me preocupa sufrir un accidente en mi trabajo</td>
        <td>
            <input  type="radio" id="P2R1" value="1" name="pregunta2">
        </td>
        <td>
            <input type="radio" id="P2R2" value="2" name="pregunta2">
        </td>
        <td>
            <input type="radio" id="P2R3" value="3" name="pregunta2">
        </td>
        <td>
            <input type="radio" id="P2R4" value="4" name="pregunta2">
        </td>
        <td>
            <input type="radio" id="P2R5" value="5" name="pregunta2">
        </td>
        
      </tr>

  </table>